<div class="container">
    <div class="row m-3 justify-content-center">
        <h2>My Profile</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-container">
                <div class="card mt-2 p-2">
                    <h6 class="card-subtitle m-1 text-muted">Email:</h6>
                    <p class="card-text">{{ user.email }}</p>
                </div>
                <div class="card mt-2 p-2">
                    <h6 class="card-subtitle mb-2 text-muted">First Name:</h6>
                    <p class="card-text">{{ user.firstName }}</p>
                </div>
                <div class="card mt-2 p-2">
                    <h6 class="card-subtitle mb-2 text-muted">Last Name:</h6>
                    <p class="card-text">{{ user.lastName }}</p>

                </div>
            </div>
        </div>
    </div>
</div>